.userCart {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;

	@include phone {
		height: auto;
		flex-direction: column;
	}

	&__photo {
		min-width: 10%;
		max-width: 10%;
		@include phone{
			min-width: none;
			max-width: none;
			max-height: 100px;
			max-width: 100px;
		}
		&__img {
			height: auto;
			max-height: 100px;
			max-width: 100px;
			border-radius: $border-radius;
			padding: 15px;

			@include phone {
				width: 100%;
				max-width: none;
				max-height: 100px;
			}
		}
	}

	&__name {
		font-size: 1rem;
		min-width: 25%;
		max-width: 25%;
		line-height: 1.2;

		@include phone {
			max-width: none;
			max-height: none;
			width: 100%;
			text-align: center;
			font-size: 1.1rem;
			margin-top: 5px;
		}

		span {
			margin-right: 7px;
		}
	}

	&__quantity {
		display: flex;
		border-radius: $border-radius;
		font-size: 1.3rem;
		overflow: hidden;
		box-shadow: $box-shadow-cart;

		@include phone {
			margin: 20px 0;
		}

		&__add,
		&__minus,
		&__number {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 20px;
			width: 20px;
			padding: 20px;
		}

		&__number {
			border-right: 1px solid $color4;
			border-left: 1px solid $color4;
		}
	}

	
	&__price {
		font-size: 1.3rem;
		display: flex;
		align-items: center;

		@include phone{
			flex-direction: column;
			margin-bottom: 15px;
		}

		&__total {
			font-weight: 600;
			color: $color2;

			@include phone{
				margin-bottom: 10px;
			}
		}

		&__oneItem {
			margin-left: 15px;
			font-size: 1rem;
			color: $color2;

			@include phone{
				margin-left: 0;
			}
		}

	}

	&__trash{
		cursor: pointer;
		font-size: 1.3rem;
		color: $color2;

		@include phone{
			font-size: 1.5rem;
			margin-bottom: 15px;
		}
	}
}
