.productsContainer {
	margin-top: 70px;
	display: flex;
	justify-content: center;
	min-height: 70vh;
	width: 100%;
}

.productsList {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	padding: 15px 0;

	&__item {
		width: 31%;
		height: 400px;
		margin-top: 20px;
		box-shadow: $box-shadow-cart;
		position: relative;
		border-radius: $border-radius;
		text-align: center;
		background-color: $color1;
		display: flex;
		flex-direction: column;

		@include phone {
			width: 100%;
			height: 410px;
		}
	}
}

.loadMore {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0;

	&__btn {
		border-radius: $border-radius;
		padding: 20px 25px;
		background-color: $color3;
		font-weight: 700;
		font-size: 1.2rem;
		color: $color2;
	}
}
