.productsContainer {
	margin-top: 70px;
	display: flex;
	justify-content: center;
	min-height: 70vh;
	width: 100%;
}

.productsList {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	padding: 15px 0;

	&__item {
		width: 31%;
		height: 400px;
		margin-top: 20px;
		box-shadow: $box-shadow-cart;
		position: relative;
		border-radius: $border-radius;
		text-align: center;
		background-color: $color1;
		display: flex;
		flex-direction: column;
		transition: .2s;

		&:hover{
			box-shadow: $box-shadow-cart-hover;
		}
		@include phone {
			width: 100%;
			height: 410px;
		}

		@include tablet{
			width: 45%;
		}
	}
}

.favoritesEmptyContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100%;
}

.favoritesEmpty {
	text-align: center;
	font-size: 2rem;
	font-weight: 600;
	color: $color2;

	@include phone {
		font-size: 1.3rem;
		line-height: 1.1;
	}

	i {
		margin-left: 5px;
		@include phone {
			margin: 0;
		}
	}
}

.checkAlsoProducts {
	margin-top: 50px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background-color: $background;
    border-radius: $border-radius;

	@include phone{
		margin-top: 100px;
	}

	&__header {
		font-size: 2.5rem;
		font-weight: 700;
		color: $color1;
        padding: 10px;

		@include phone{
			font-size: 1.8rem;
		}
	}
}