.header {
	position: fixed;
	top: 0;
	width: 100%;
	color: $color1;
	background: $color2;
	box-shadow: $box-shadow;
	z-index: 9999;
}

.headerContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
}

.headerItem {
	font-size: 1.7rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;


	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: .2s;
		&:first-child {
			margin-right: 25px;
		}

		&:hover{
			opacity: 0.8;
		}
	}

	&__circle {
		position: absolute;
		right: 15%;
		top: -25%;
		color: $color2;
		font-size: 0.8rem;
		width: 20px;
		line-height: 20px;
		border-radius: 50%;
		text-align: center;
		background-color: $color3;
	}

}

.logo {
	display: flex;
	align-items: center;
	transition: .2s;

	&__txt {
		font-size: 1.7rem;
		font-family: $font-logo;

		&--color {
			color: $color3;
		}
	}

	&:hover{
		opacity: 0.8;
	}
}
