.product {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	&__photo {
		margin-top: 15px;
		height: 225px;
		position: relative;
		max-width: 100%;
		width: auto;
		
		&__img {
			height: 225px;
			width: auto;
			max-width: 100%;
		}
	}

	&__name {
		margin-top: 10px;
		font-size: 1.2rem;
		font-weight: 600;
	}

	&__price {
		margin-top: 20px;
		font-size: 1.5rem;
		font-weight: 600;
		color: $color3;
	}

	&__desc {
		margin-top: 20px;
		width: 50%;
		text-align: center;

		@include phone {
			width: 80%;
		}
	}
}

.oneProductBigConatainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 70px;
	min-height: 80vh;

	.oneProductBig {
		box-shadow: $box-shadow-cart;
		border-radius: $border-radius;
		width: 80%;
		text-align: center;
		padding: 15px;
		position: relative;
		display: flex;
		flex-direction: column;
		@include phone {
			width: 95%;
		}

		.product {
			&__photo {
				height: 40vh;
			}
		}

		.loading {
			min-height: 80vh;
		}
	}

	.productBtn {
		font-size: 1.7rem;
	}

	.addToFav {
		font-size: 1.7rem;
	}
}
